<div class="page-home">
    <!--
    <div class="header-container">
        <header></header>
    </div>
    -->
    <main role="main">
      <section class="presentation-container">
        <div class="presentation-content">
          <div class="row">
              <div class="logo-container">
                <%= image_tag "home/logo-mono-blanc.png", class: "logo-mono" %>
              </div>
          </div>
          <div class="row">
              <div class="argument-container">
                <p>Vos commandes de sandwich en quelques clics</p>
              </div>
          </div>
          <div class="row">
              <div class="creator">
                <div class="creator-image gfr"></div>
                <div class="creator-image jla"></div>
              </div>
          </div>
          <div class="subscription-form-container">
            <p><%= notice %></p>
            <%= render 'form' %>
          </div>
        </div>
      </section>
    </main>
    <div class="footer-container">
      <footer></footer>
    </div>
</div>